/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Ubuntu', sans-serif;*/


.techfont{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  margin-bottom: 10px;
}